/*16px is equal to 1.00rem*/

/* mixin */
@mixin flexcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve centering within parent */
  min-height: 100vh;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--gray-50);
  margin: 1rem 1rem;
  @include flexcol;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

:root {
  --orange-400: hsl(12, 88%, 59%);
  --blue-950: hsl(228, 39%, 23%);
  --blue-100: hsla(229, 30%, 38%, 0.415);

  --gray-950: hsl(233, 12%, 13%);
  --orange-50: hsl(13, 100%, 96%);
  --gray-50: hsl(0, 0%, 98%);
  --gray: rgb(118, 116, 116);
}

.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.be-vietnam-pro-medium {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.be-vietnam-pro-semibold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.desktop-menu {
  display: none;
}
.mobile-menu {
  width: 0;
  position: fixed;
  z-index: 4;
  top: 70px;
  left: 40px;
  height: 400px;
  overflow-x: hidden;
  transition: 0.5s;
  border-radius: 5px;
  padding-top: 1rem;
  background-color: white;
}

.graytext {
    color: var(--blue-100);
}


.hero-btn {
    background-color: var(--orange-400);
    
    color: var(--gray-50);
    font-weight: 500;
     font-size: 0.87rem;
     box-shadow: 10px 5px 5px var(--orange-50);

}

.blue-text {
    color: var(--blue-950);
}
button {
    border: none;
    border-radius: 30px;
    width: 150px;
    padding: 0.5rem;
    cursor: pointer;
    

}

.container {
   @include flexcol;
   margin: 2rem;
}
.mobile-img {
  background-color: var(--orange-50);
}
.close-btn {
  display: none;
}

.hamburger-btn {
  cursor: pointer;
}

header {
  position: relative;
  z-index: 5;
  padding: 1.2rem;
  height: 50px;
  @include flexrow;
}
.desktop-menu-btn {
    display: none;
}

.hero-text {
    @include flexcol;
    padding-bottom: 2rem;
    gap: 0.7rem;
    text-align: center;
  h1 {
    color: var(--blue-950);
  }
}

.manage-section {
    gap: 0.7rem;
    text-align: center;
    padding-bottom: 2rem;
}

@media (min-width: 35rem) {
  body {
    background-color: red;
  }
  .desktop-menu {
    display: block;
  }
  .desktop-menu-btn {
    display: block;
  }
}
